    <footer >
        <div class="main_footer">
          <div class="footer_section_one">
            <div class="footer_section_one_title">
              <p>REPORT. Publishers</p>
            </div>
            <br>
            <div class="footer_section_one_info">
              <p>500 Francois St.</p>
              <p>Assam Guwhati, CA 94158</p>
              <p>123-456-7890</p>
              <p>info@my-domain.com</p>
            </div>
          </div>
    
          <div class="footer_section_two">
            <div class="footer_section_two_title">
              <p>Report</p>
            </div>
            <br>
            <div class="footer_section_two_info">
              <p>FAQ</p>
              <p>Complaints</p>
              <p>Reporting Policy</p>
              <p>Donation</p>
            </div>
          </div>
    
          <div class="footer_section_three">
            <div class="footer_section_three_title">
              <p>Socials</p>
            </div>
            <br>
            <div class="footer_section_three_info">
              <p>Facebook</p>
              <p>Twitter</p>
              <p>Instagram</p>
              <p>Pinterest</p>
            </div>
          </div>
        </div>
    
        <div class="main_footer">
          <div class="copy_right">
            <p>&copy 2019 by REPORT. Publishers, with the assistance of prashant and deepjoti</p>
          </div>
        </div>
      </footer>