<h1>About this project</h1>

<p>This project is started by Deepjyoti Chetia and Prashant chettry for final year project paper, BSc Computer Science .
    The project is guided by Mrs Shilpi Singh, professor of Lalit Chandra Bharali College.
</p>