<center><h1 style="font-family: 'Nanum Gothic', sans-serif;">Meet the team</h1></center>
<div>
<div class="trow">
  <div class="tcolumn">
    <div class="tcard">
      <img src="./images/v2.jpeg" alt="Hi" style="align:center; width:53%; height:70%">
      <div class="tcontainer">
        <h2>Prashant Chettry</h2>
        <p class="ttitle">Designer &amp; Student Developer</p>
        <I><p> I love to code and solve problems. I have a great enthusiasm for web design and development.</p></I>
        <p style="color : rgb(85, 189, 11); padding:2px;">email : prashant@gmail.com</p>
        Find me at
        <a href="https://www.facebook.com/prashant.chetry.169" class="fa  fa-facebook-official fa-2x" aria-hidden="true" style="text-decoration : none; margin-left: 55px"></a>
        <a href="https://www.linkedin.com/in/prashant-chetry-136369169/" style="text-decoration : none; padding: 8px;" class="fa fa-linkedin fa-2x" aria-hidden="true"></a>
        <a href="https://github.com/Prashant-chetry" class="fa fa-github fa-2x" style="text-decoration : none; padding-left: 5px;" aria-hidden="true"></a>
      </div>
    </div>
  </div>

  <div class="tcolumn">
    <div class="tcard">
      <img src="./images/v1.jpeg" alt="Mike" style="width:60%; height:70%">
      <div class="tcontainer">
        <h2>Deepjyoti Chetia</h2>
        <p class="ttitle">Student Developer</p>
        <i><p>Still a child with a great thirst for the things I don't know </p></i>
        <p style="color : rgb(85, 189, 11); padding:3px;">email : deep@gmail.com</p>
        Find me at
        <a href="http://www.piedpiper.com/" class="fa fa-pied-piper fa-2x" aria-hidden="true" style="text-decoration : none; margin-left: 55px"></a>
        <a href="https://www.linkedin.com/in/deepjyoti-chetia-0511b716a/" style="text-decoration : none;" class="fa fa-linkedin fa-2x" aria-hidden="true"></a>
        <a href="https://github.com/sudonym221" class="fa fa-github fa-2x" style="text-decoration : none; padding-left: 8px;" aria-hidden="true"></a>
      </div>
    </div>
  </div>

</div>