<div class="login-main-section">
  <div class="login-main-section-imag">
    <img src="images/india-4156813_1920.jpg" alt="">
  </div>
  <div class="login-main-section-info">
    <form action="/login" method="POST" class="main-section-form">
      <div class="form-header">
        <h1>Login your account</h1>
      </div>
      <div class="form-body">
        <label for="email-label" class="login-label">Email</label>
        <input type="email" name="email" id="email-label" class="input-section">
        <label for="password-label" class="login-label">Password</label>
        <input type="password" name="password" id="password-label" class="input-section">
      </div>
      <div class="login-button">
        <button type="submit">Login</button>
        <p><a href="/register">Create Account</a></p>
      </div>
    </form>
  </div>
</div>