
<form action="/signup" method="POST" style="max-width:500px;margin:auto">
  <br>
  <br>
  <h1>Signup Form</h1>

  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" placeholder="Email" name="email" required>
  </div>
  
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Password" name="password" required>
  </div>

    <div class="input-container">
    <i class="fa fa-check-square-o icon" aria-hidden="true"></i>
    <input class="input-field" type="password" placeholder="Confirm password" name="password2" required>
  </div>

  <div class="input-container">
    <i class="fa fa-coffee icon" aria-hidden="true"></i>
    <input class="input-field" type="text" placeholder="Admin code : Only for admin use" name="adminCode">
  </div>

  <button type="submit" class="sbtn">Signup</button>
  <button type="submit" class="sbtn sbtn2">Forgot Password ?</button>
</form>