<div>
    <div class="usrinfoform_title">
        <h1>User Details</h1>
    </div>
    <div class="usrinfoform_container">
        <div class="usrinfoform_section">
        <form action="/userinfo" method="POST" enctype="multipart/form-data">
             <label for="firstName">First Name:</label>
             <input type="text" name="firstName" id="usrinfoform-input-1">

             <label for="">Last Name:</label>
             <input type="text" name="surName" id="usrinfoform-input-2">

             <label for="">DOB:</label>
             <input type="text" name="dateOfBirth" id="usrinfoform-input-3">

             <label for="">Address:</label>
             <input type="text" name="address" id="usrinfoform-input-4">

             <label for="">City:</label>
             <input type="text" name="city" id="usrinfoform-input-5">
    
             <label for="">State:</label>
             <input type="text" name="state" id="usrinfoform-input-6">
    
             <label for="">Zip Code:</label>
             <input type="text" name="zipCode" id="usrinfoform-input-7">
    
            <label for="">Mobile Number:</label>
            <input type="text" name="mobileNo" id="usrinfoform-input-8">
            
            <input type="file" name="avatar" id="usrinfoform-input-9">
            
            <div class="usrinfoform-button">
                <button type="submit">Create</button>
            </div>     
         </form>
        </div>
    </div>
</div>


